- content_for :sub_nav do
  = render 'users/profile/sub_nav', :active_action=>'index', :active_controller=>'funds_withdrawals'
= render "withdrawal_request_errors"
- content_for :main_column do
  %section.default-content.clearfix#earnings
    %article.details-preview#customer-earnings
      %h3
        YOUR EARNINGS
        - tip = "Your current Ubitru earnings. You must earn at least $30 to make your first withdrawal. After that, you may withdrawal funds at any time."
        = image_tag 'pixel.gif', :class=>'qmark', :title=>tip
      %hr
      %p
        %span.label{ :style => "font-size:17px;color:#000;padding-left: 0px;" }
          = 'Total Balance: '
        %strong.dollars{ :style => "font-size:17px;color:#000;" }
          = format_currency(current_user.total_balance)
      %p{ :style => "font-size: 20px;" }
        %span.label{ :style => "font-size:17px;color:#89bd07;padding-left: 0px;" }
          = 'Available balance: '
        %strong.dollars{ :style => "font-size: 17px;" }
          = format_currency(current_user.balance || 0)
      %p
        %span.label{:style => 'padding-left: 0px;font-size:17px;'}
          = 'Pending outcome : '
        
        %span.dollars
          = link_to format_currency(current_user.unconfirmed_earnings) ,'/search_requests#unconfirmed_search_requests_wrap', style:'font-size:17px;'
      %hr
      %p
        %span.label{:style=>'min-width: 0;padding-left: 0px;'}
          Withdraw Funds:
        %span.important
          ($20 minimum withdrawal)
    /   #funds-withdrawal-form-wrap
    /     = render 'form'
    / %article.column.half-col
    /   %h3 EARNINGS FROM SEARCH REQUESTS
    /   %hr.for-table
    /   #earnings_table_wrap
    /     = render 'earnings_table'
    / %article.column.half-col.last-child
    /   %h3 WITHDRAWALS
    /   %hr.for-table
    /   #withdrawal_table_wrap
    /     = render 'withdrawal_table'
.grey-section
  = render partial: "shared/profile_header" , locals: {current_tab: 'withdraw'}
  .heading-section.clearfix
    .container
      %h2 My Earnings
      .score
        = render 'users/shared/header_score'
  .content-section
    .container
      .white-box.clearfix
        .earning-section 
          = render 'layouts/application/one_column'

- content_for :javascripts do 
  %script
    :plain
      $('#funds-withdrawal-form-wrap form:first').on('submit',function(){
        showLoader($('#funds-withdrawal-form-wrap'));
      });

- content_for :javascripts do
  %script
    :plain
      simpleAjaxPagination('#earnings_table_wrap');
      simpleAjaxPagination('#withdrawal_table_wrap');
