= form_tag admin_hp_stores_path do
  %br
  %h3
    SELECT MERCHANTS FOR HOME PAGE
    = stores_page_name(params[:type])
  = select_tag :advertiser_id_with_class_name, options_from_collection_for_select(@list, :id_with_class_name, :name)
  = hidden_field_tag :store_type, params[:type]
  &nbsp;&nbsp;
  = submit_tag 'Add', :class => 'orange-button'
  = submit_tag 'Update High Resolution Image', :class => 'orange-button'
