- content_for :sub_nav do
  = render 'sub_nav', :active_action => params[:action]

- content_for :main_column do
  %section.default-content.clearfix
    %table.default-table
      %tr
        %th
          %span.txt
            %span Search
        %th
          %span.txt
            %span Date
      - if @searches.blank?
        %tr
          %td.ctr{:colspan => 2}
            = 'No searches to show'
      - @searches.each do |search|
        %tr
          %td
            %span.txt
              %span= link_to search.search, search_path(search)
          %td
            %span.txt
              %span= search.created_at.strftime('%Y-%m-%d')

    .table-footer.table-info
      .pages-info= page_entries_info @searches
      .right
        = paginate @searches, :page => params[:page]

%h2
  Searches queries you have won
= render 'layouts/application/one_column'