%table.default-table
  %tr
    %th.no-hvr
      %span.txt
        %span Bidder
    %th.no-hvr
      %span.txt 
        %span Bid Amount
    %th.no-hvr
      %span.txt
        %span Bid Time
  - if @bids.blank?
    %tr
      %td.ctr{:colspan=>3} 
        -# !!!!!!!!!!!!!!!!!!!!!!!! COLSPAN
        = "No bids on this auction yet"
  - else
    - @bids.each_with_index do |bid, idx|
      - cls = cycle(nil,'odd')
      - if params[:page].blank? || params[:page].to_i != 1 #TODO this looks bad fix it
        - cls += ' framed' if idx < @auction.max_vendors
        - cls += ' top' if idx == 0
        - cls += ' bottom' if idx == @auction.max_vendors.to_i - 1 || idx == @bids.length - 1

      %tr{:class=>cls}
        %td= link_to bid.vendor.company_name, admin_vendor_path(bid.vendor)
        %td.ctr= format_currency(bid.current_value)
        %td.ctr
          = format_datetime(bid.updated_at)
.table-footer.table-info
  .pages-info= page_entries_info @bids
  .right
    = paginate @bids
    -# todo expand to all link_to 'View all', '#' #:action=>'bids'