%table.default-table
  %tr
    %th.no-hvr
      %span.txt 
        %span Winning Bidders
    %th.no-hvr
      %span.txt 
        %span Bid Amount
    %th.no-hvr
      %span.txt 
        %span View Offer
  - if @winning_bids.blank?
    %tr
      %td.ctr{:colspan=>3} 
        -# !!!!!!!!!!!!!!!!!!!!!!!! COLSPAN
        = "There were no participants in this auction"
  - else
    - @winning_bids.each do |bid|
      %tr
        %td= link_to bid.vendor.company_name, admin_vendor_path(bid.vendor)
        %td.ctr= format_currency(bid.current_value)
        %td.ctr
          = link_to 'View offer', '#', :class=>'button view-offer', :id=>"offer-link-#{bid.id}"