- advertiser = find_advertiser(result['db_id'], result['type'])
.deals
  .deals-logo
    - if advertiser.hp_advertiser_image.blank?
      = image_tag(advertiser.is_a?(LinkshareAdvertiser) ? advertiser.logo_url : advertiser.logo.url, :title => advertiser.name, :size => "150x110")
    - else
      = image_tag(advertiser.hp_advertiser_image.hp_image.url, :title => advertiser.name, :size => "150x110")
  .deals-info
    .row
      %p{:id => "cdesc_#{advertiser.advertiser_id}" }
        - content = "40% off on your entire order"
        - content += " Hurry up!. Buy and win more coupons" if index < 1
        - if content.length < 30
          = content
        - else
          %span= content[0..28]
          %span.more
            \...
          %span.more_content{:style => "display:none;"}
            &nbsp;
            = content[29..content.length]
          = link_to 'view more', 'javascript: void(0);', :class => 'view-more-coupon-description', :id => "#{advertiser.advertiser_id}", :style => "font-size:12px!important;"

    .row
      %span{:class => "promo"}
        =# image_tag("deals/promo.png")
        = image_tag('scissor.png', :class => 'top-deals-scissor')
        %span{:style => "border: 2px dashed #828282 ;padding: 2px 25px; width:100%; margin-left: 10px;"}
          = "SITE40"
      %span.cash-back
        = number_to_percentage(advertiser.max_commission_percent, {:precision => 1, :strip_insignificant_zeros => true})
        Cash Back
    .row
      = link_to "Show Now", result["company_coupons_url"], :id => "merchant_popup_#{result["id"]}", :class => "btn btn-primary shop-now", :onclick => "generate_popup(this.id, #{result["id"]}, #{advertiser.coupons.blank?}); return false;"
      = link_to "coupon_window", mm_prompt_cc_window_path(:ad => advertiser.advertiser_id, :type => advertiser.class.name, :offer_url => result["offer_buy_url"]), :style => "display:none;", :id => "merchant_c_window_#{result["id"]}"
