= render "/application/home_page/search_by_merchants_form"
%section.deals-area
  .container-fluid
    .row
      .search-result-title
        .large-search-results-label Search Results -
        .small-search-results-label Showing most trending stores
        %hr.line= "&nbsp;".html_safe
    .row.deals-content.clearfix
      - if !@results.compact[0..9].blank?
        %div.clearfix{:style => "display:table;width:100%;"}
          - if @results.count < 3
            %div.results.col-md-12
              - @results.each_with_index do |result, index|

                .col-md-4.col-sm-6.padding-left-0{:style => "margin-left: 30%;float:none !important;"}
                  = render "/search/deals_section_new", :result => result, :index => index
            %div.similar-merchants.col-md-12{:style => "border: 1px solid; padding: 5px;"}
              - @similar_merchants.each_with_index do |similar_merchant, index|
                = render "/search/similar_merchants_search", :similar_merchant => similar_merchant, :index => index
          - else
            - @results.in_groups_of(3, false).each do |group|
              =group
              %div{:style => "display:table-row;"}
                - group.each_with_index do |result, index|
                  .col-md-4.col-sm-6.padding-left-0
                    = render "/search/deals_section_new", :result => result, :index => index
      -elsif @product_results_cj.present? or @product_results_pj.present? or @product_results_ir.present? or @product_results_avant.present?
        %div.clearfix{:style => "display:table;width:100%;"}
          -if @product_results_cj.present? 
            -@product_results_cj.each do |product|
              = render "/search/keyword_search", :product => product
          -if @product_results_pj.present?
            -@product_results_pj.each do |product|
              = render "/search/keyword_search", :product => product
          -if @product_results_ir.present?
            -@product_results_ir.each do |product|
              = render "/search/keyword_search", :product => product
          -if @product_results_avant.present?
            -@product_results_avant.each do |product|
              = render "/search/keyword_search", :product => product


      - else
        %h1 
          Opps this is Embarrassing! 
        %p{:style => "margin-top:20px;"}
          We don’t have this Merchant in our platform. Please fill out the simple form below and we’ll add them to our list. 
        
        %div.col-md-4
          %form
            %div
              %label
                = "Merchant Name:"
              %input{:type => "text", :style => "margin-left: 15px;"}
            %div
              %label   
                = "Merchant Website:"
              %input{:type => "text"}
            %div
              %input{:type => "submit"}  



      .search-results-back-section
        = image_tag('second-pattern-line.png', :class => 'search-results-bottom-line-img')
        = link_to 'BACK', root_path, :class => 'back-from-search pull-right btn robot-bold'
        = link_to 'SEARCH AGAIN', hp_mm_box_merchants_search_url(:search_by_merchants => params[:search_by_merchants]), :class => 'btn btn-primary-custom pull-right roboto-bold search-again-merchants', :method => :post
