- content_for :sub_nav do
  = render 'admins/sub_nav', :active_action => 'index', :active_controller=>'admins/sales_links'

- content_for :main_column do
  %section.default-content.clearfix
    %table.default-table
      %tr
        %th
          %span.txt
            %span Full name
        %th
          %span.txt
            %span Email
      - if @users.blank?
        %tr
          %td.ctr{:colspan => 5}
            = 'No users for this group'
      - @users.each do |user|
        %tr{:class=>cycle(nil,'odd')}
          %td= link_to user.full_name, admin_user_path(user)
          %td= user.email

    .table-footer.table-info
      .pages-info= page_entries_info @users
      .right
        = paginate @users, :param_name => 'users_page', :params => params
%h2
  Statistic for group
  = @group.name
%div{:style => 'padding-left: 20px'}
  %h3
    Users registered:
    = number_with_delimiter @users.total_entries
.to-right
  = link_to 'Back to Sales Owners', admin_sales_links_path
  %br
  %br
= render 'layouts/application/one_column'