- content_for :main_column do
  %section.default-content
    %article#sign-in
      = simple_form_for(resource, :as => resource_name, :url => vendor_confirmation_path, |
      :wrapper=>:standard, :html => {:class=>'no-label', :method => :post}) do |f|
        .inputs
          = no_label_input f, :email
        .actions
          = f.button :submit, "Resend confirmation instructions"
      = render "vendors/devise/links"

%h2 Resend confirmation instructions
= render 'layouts/application/two_columns'