- if @auction.product_category
  - ancestors = @auction.product_category.ancestor_ids
  - root_category = ancestors[0]
  - first_level_category = ancestors[1]
  - content_for :javascripts do
    :javascript
      $(document).ready(function(){
        initCategorySelects(#{root_category},#{first_level_category},#{@auction.product_category_id});
      });

= inputs_grouped f, :product_category_id, 'Category select:', |
  'Please use the three dropdown menus to detail your product category. The fields will auto-populate as you move through the menu.' do
  .inpts-row.clearfix
    = select_tag "root_category", |
      options_from_collection_for_select(ProductCategory.roots.order('`order` ASC').to_a, "id", "name", :selected => root_category), |
      :prompt => 'Select', :id => "root_category"
  .inpts-row.clearfix
    = select_tag "first_level_category", |
      options_for_select([]), |
      :include_blank=> true, :id => "first_level_category"
  .inpts-row.clearfix
    = sub_input_row f, :product_category_id, :collection=>[], :label=>false, :as => :select, :include_blank=> true, |
      :input_html=>{:id=>'second_level_category'}

= input_row f, :delivery_method, :collection=>Auction::DELIVERY_OPTIONS, :as => :radio_buttons, |
    :label => "Prefered delivery method:", :checked => (@auction.delivery_method ? @auction.delivery_method : 'shipping')

= input_row f, :duration, :collection=>duration_options, :prompt => "choose a duration", |
    :selected => (@auction.duration ? @auction.duration : '7')

= inputs_grouped f, :budget do
  .inpts-row.clearfix
    = sub_input_row f, :budget, :label=>false, :collection=>Auction::BUDGET_OPTIONS, :include_blank=> false
  #budget-custom.inpts-row.clearfix{:style=>'display: none'}
    = sub_input_row f, :budget_min, :wrapper_html=>{:class=>"half-width"}, :input_html => {:class => :number}
    = sub_input_row f, :budget_max, :wrapper_html=>{:class=>"half-width"}, :input_html => {:class => :number}

= inputs_grouped f, :max_vendors, 'Number of sellers:', |
  'How many sellers can win your auction and get access to your contact information.' do
  = sub_input_row f, :min_vendors, :collection=>vendors_count_options, :wrapper_html=>{:class=>"half-width"}, |
    :input_html=>{:validate => false}, :selected => (@auction.min_vendors ? @auction.min_vendors : '1')
  = sub_input_row f, :max_vendors, :collection=>vendors_count_options, :wrapper_html=>{:class=>"half-width"}, |
  :selected => (@auction.max_vendors ? @auction.max_vendors : '4')

=# input_row f, :claimed_score, :label=>"My MuddleMe Score for this auction (1-100):", :hint=>'This is my personal opinion of my probability to transact.', :input_html => {:class => :number}
= input_row f, :extra_info, :hint=>'Describe any important or relevant details which will help the seller in offering you the product you want to buy.'
-#= inputs_grouped f, :desired_time, 'Desired time of purchase', |
-#  'What is your desired time of purchase. You may choose a specyfic day or a date range' do
-#  .inpts-row.clearfix
-#    = sub_input_row f, :desired_time, :as=>:datepicker, :label=>false, :input_html => { :id => 'desired-time-first', :validate=>false }
-#    %span.beside-inpt= 'or choose a date range below'
-#  .inpts-row.clearfix
-#    = sub_input_row f, :desired_time, :as=>:datepicker, :label=>false, :input_html => { :id => 'desired-time-second', :validate=>false }
-#    %span.beside-inpt='to'
-#    = sub_input_row f, :desired_time_to, :as=>:datepicker, :label=>false, :input_html => { :id => 'desired-time-to', :validate=>false }
-#
-#= input_row f, :contact_way, :collection=>$contact_ways, :include_blank=> false
-#= inputs_grouped f, :contact_time do
-#  .inpts-row.clearfix
-#    = sub_input_row f, :contact_time_of_day, :collection=>times_of_day_options, |
-#      :label=>false, :input_html => { :id => 'contact-time-ofday' }, :include_blank=>false
-#    %span.beside-inpt= 'on'
-#    = sub_input_row f, :contact_time, :as=>:datepicker, :label=>false, :input_html => { :id => 'contact-time-first', :validate=>false }
-#  .inpts-row.clearfix
-#    %span.beside-inpt= 'or date range:'
-#    = sub_input_row f, :contact_time, :as=>:datepicker, :label=>false, :input_html => { :id => 'contact-time-second', :validate=>false }
-#    %span.beside-inpt='to'
-#    = sub_input_row f, :contact_time_to, :as=>:datepicker, :label=>false, :input_html => { :id => 'contact-time-to', :validate=>false }
-#
