.text-line
  = offer.tracking_img
  = offer.advertiser.name
%a.coupon-box.affiliate-offer-link{:id=>"affiliate-offer-link-#{id}", :href=>offer.link_href, :target=>'muddle_offer'}
  .img-wrap
    = image_tag(offer.advertiser.logo.url)
  %span.commission-amnt
    %span.amnt
      - unless offer.advertiser.max_commission_percent.blank?
        = format_percent_strip(offer.advertiser.max_commission_percent)
      - else
        = format_currency(offer.advertiser.max_commission_dollars)
    %span.text Cash Back
.text-line
  Cash Back
  - unless offer.advertiser.coupons.blank?
    + Coupon Codes !
%a.orange-button.fixed-width-button.affiliate-offer-link{:id=>"affiliate-offer-link-#{id}", :href=>offer.link_href, :target=>'muddle_offer'} SHOP NOW
  

 