%h1 Listing loyalty_program_offer_images

%table
  %thead
    %tr
      %th Loyalty program
      %th Loyalty program offer
      %th Image updated at
      %th Image file name
      %th Image content type
      %th Image file size
      %th
      %th
      %th

  %tbody
    - @loyalty_program_offer_images.each do |loyalty_program_offer_image|
      %tr
        %td= loyalty_program_offer_image.loyalty_program
        %td= loyalty_program_offer_image.loyalty_program_offer
        %td= loyalty_program_offer_image.image_updated_at
        %td= loyalty_program_offer_image.image_file_name
        %td= loyalty_program_offer_image.image_content_type
        %td= loyalty_program_offer_image.image_file_size
        %td= link_to 'Show', loyalty_program_offer_image
        %td= link_to 'Edit', edit_loyalty_program_offer_image_path(loyalty_program_offer_image)
        %td= link_to 'Destroy', loyalty_program_offer_image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Loyalty program offer image', new_loyalty_program_offer_image_path
